<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SwapFlex Server</title>
    <link rel="stylesheet" href="/css/variables.css" />
  </head>
  <body>
    <h2>SwapFlex Server</h2>

    <div class="container">
      <div class="box">
        <h3>Rates</h3>

        <ul class="items">
          <% for (const currency in rates) { %> <% if (currency !== "_id") { %>
          <li><%= currency %>: ₦<%= rates[currency] %></li>
          <% } %> <% } %>
        </ul>

        <h3>Max Amounts</h3>

        <ul class="items">
          <% for (const [key, value] of Object.entries(account_usd)) { %> <% if
          (key === "max_amount_receivable") {%>
          <li><strong> USD Max Amount:</strong> $<%= value %></li>

          <% } %> <% } %> <% for (const [key, value] of
          Object.entries(account_eur)) { %> <% if (key ===
          "max_amount_receivable") {%>
          <li><strong> USD Max Amount:</strong> €<%= value %></li>
          <% } %> <% } %>
        </ul>

        <button onclick="window.location.href='/app/update-rates'">
          Update Rates
        </button>
      </div>

      <div class="box">
        <h3>Account Details</h3>

        <ul class="items">
          <h4>Dollar Account</h4>
          <% for (const account_props in (account_usd)) { %> <% if
          (account_props !== "_id") { %>
          <li>
            <strong><%= account_props %>:</strong> <%=
            account_usd[account_props] %>
          </li>
          <% } %> <% } %>
        </ul>
        <button onclick="window.location.href='/app/update-accounts/usd'">
          Update Dollar Account
        </button>

        <ul class="items">
          <h4>Euros Account</h4>
          <% for (const account_props in (account_eur)) { %> <% if
          (account_props !== "_id") { %>
          <li>
            <strong><%= account_props %>:</strong> <%=
            account_eur[account_props] %>
          </li>
          <% } %> <% } %>
        </ul>
        <button onclick="window.location.href='/app/update-accounts/eur'">
          Update Euros Accounts
        </button>
      </div>
    </div>
    <form action="/app/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
